# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# node.js
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Prisma
prisma/migrations/dev.db*

# Laravel (old files to ignore)
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
Homestead.json
Homestead.yaml
auth.json
*.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode